In [3]:
fruits = ['orange', 'kiwi', 'banana']
for f in fruits:
    print(f)

orange
kiwi
banana

In [7]:
for car in ['bmw', 'ford', 'benz', 'gmc']:
    print(car)

bmw
ford
benz
gmc

In [11]:
mylist = [1,2,3,4]
for num in mylist:
    if num == 4:
        break
    print(num**2)

1
4
9

In [9]:
for num in mylist:
    print('i can print anything here')

i can print anything here
i can print anything here
i can print anything here
i can print anything here

In [10]:
for character in "this is a string":
    print(character)

t
h
i
s

i
s

a

s
t
r
i
n
g

In [12]:
#create tuple
tuple = ('apple', 'banana', 'cherry')

In [13]:
type(tuple)

tuple

In [20]:
t = ('apple', 'banana', 'cherry')
if "liwi" in t:
    print("yes, 'apple' is in the fruits tuple")
else:
    print('no')

no

#### conditional statements

# h1

## h2

### h3

#### h4

##### h5

###### h6

#### Getting Input From The User

In [22]:
name = input("what is your name")
print("hello," + name + "!" )

hello,Simdi!

In [23]:
name = input("what is your name")
age = input('how old are you')
print("LIsa was born in 2020")

LIsa was born in 2020

In [27]:
name = input('what is your name')
age = int(input(' '))
year = 2024 - age
print( name + ' was born in ', year)

simdi was born in  2016

In [29]:
a = int(input('guess a number:'))

if a == 1:
    print("correct guess")
else:
    print("incorrect guess")

correct guess

In [1]:
a = (input('moring:'))

if a == 'good morning':
    print('good moring')
else:
    print('good afternoon')

good afternoon

In [2]:
a = 100
b = 20

if b > a:
    print('b is in fact bigger than a')
else:
    print('a is bigger than b')
# always watch out for indentation

a is bigger than b

In [9]:
saved_password = 123456 
new_password = (input('enter your password:'))

if int(new_password) == saved_password:
    print('login successful')
else:
    print('you are a criminal')

login successful

In [8]:
saved_password = 123456 
new_password = int(input('enter your password:'))

if int(new_password) == saved_password:
    print('login successful')
else:
    print('you are a criminal')

login successful

In [6]:
type(new_password)

str

In [16]:
user_input = input('enter greeting:')

if user_input == 'good morning':
    print('good morning my love')
elif user_input == 'good afternoon':
    print('what is good about the afternoon')
elif user_input == 'goodnight':
    print('goodnight darling')
else:
    print('get out')

what is good about the afternoon

In [17]:
# sets are written with curly brackets

thisset = {'apple', 'banana', 'cherry'}
print(thisset)

{'apple', 'cherry', 'banana'}

In [19]:
thisset.add('apple')
print(thisset)

{'apple', 'cherry', 'banana'}

In [20]:
a = ('apple', 'banana', 'cherry')
ts = set(a)
print(ts)

{'cherry', 'apple', 'banana'}

In [21]:
mylist = [0,1,1,2,3,3,2,4]
ts2 = set(mylist)
print(ts2)

{0, 1, 2, 3, 4}

In [22]:
ts3 = set([0,1,1,2,3,3,2,4])
print(ts3)

{0, 1, 2, 3, 4}

In [24]:
food = {
    'fruits': 'orange',
    'drinks': ['chivita', 'yoghurt', 'milkshake'],
    'cereal': 'granola',
    'cereal': 'golden morn'
} 
print(food)

{'fruits': 'orange', 'drinks': ['chivita', 'yoghurt', 'milkshake'], 'cereal': 'golden morn'}

In [27]:
food ['cereal']
food ['drinks']

['chivita', 'yoghurt', 'milkshake']

In [28]:
food['drinks'][2]

'milkshake'

In [34]:
def login():
    '''this prints the sum of two numbers a and b'''
    firstname = input('enter firstname')
    Lastname = input('enter lastname')
    password = int(input('enter password'))
    savedpassword = 1234

    if password == savedpassword:
        print(f'Login successful {firstname} {Lastname}')
    else:
        print('incorrect password')

    return

In [33]:
login()

Login successful Simdi Anaeto

In [35]:
login.__doc__

'this prints the sum of two numbers a and b'

In [36]:
def age():
    age = int(input('your age'))
    year = 2024 - age
    print('was born', year)

In [38]:
age()

was born 1997

In [40]:
def average(a,n,e):
    print(a+n/e)
average(9,12,7)

10.714285714285714

In [41]:
def change_name(name):
    print('the passed name is {}'.format(name))
    #change the name 
    name = 'Harry Potter'
    print('the new name in this function is {}'.format(name))
    return

#call the function
name = 'John Snow'
change_name(name)

the passed name is John Snow
the new name in this function is Harry Potter

In [43]:
def change_name(name):
    #change the name 
    name = 'Harry Potter'
    print('the passed name is {}'.format(name))
    print('the new name in this function is {}'.format(name))
    return

#call the function
name = 'John Snow'
change_name(name)

the passed name is Harry Potter
the new name in this function is Harry Potter

In [44]:
def func(a,b,c,d,e):
    print(a, b, c, d, e)
    return
func(1,2,3,4,5)

1 2 3 4 5

In [47]:
def changenames(age=12,year=2024):
    print(year - age)
    return
changenames()

2012

In [53]:
def my_function(child3, child2, child1):
    print("the youngest child is " + child1)
    print("the mid child is " + child2)
    print("the eldest child is " + child3)
    return

In [54]:
my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

the youngest child is Emil
the mid child is Tobias
the eldest child is Linus

In [55]:
my_function('Emil', 'Linus', 'Tobias')

the youngest child is Tobias
the mid child is Linus
the eldest child is Emil

In [60]:
def info():
    name = input('enter name')
    age = int(input('enter age'))
    print(name, 'is' , age)
    return

In [61]:
info()

Tabitha is 20

In [62]:
age=25
print(age)
age = 90
print(age)
age=23
print(age)

25
90
23

In [63]:
print(age)

23

In [65]:
def printinfo(age=25):
    "this prints the info about a person"
    print("Age", age)
    return


printinfo(90)

Age 90

In [66]:
def printinfo(age=25):
    "this prints the info about a person"
    print("Age", age)
    return


printinfo()

Age 25

In [67]:
def myfun(*argv):
    for arg in argv:
        print(arg)

In [68]:
myfun('hello', 'welcome', 'to', 'GeeksforGeeks')

hello
welcome
to
GeeksforGeeks

In [80]:
def myfun(args,*argv):
    for arg in argv:
        print(arg)

In [81]:
myfun('john', 80,90,98,97)

80
90
98
97